.appContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.563rem;
  margin-bottom: 0.438rem;
  margin-left: 1rem;
  padding-right: 1.6rem;
}

.circleIcon {
  width: 2.5rem;
  height: 2.5rem;
  transform: rotate(270deg);
  color: #63428c;
}

.folderIcon {
  padding-left: 1rem;
  color: #c7c8cd;
}

.removeIcon {
  transform: rotate(90deg);
  color: #c7c8cd;
}

.notificationsIcon {
  color: #c7c8cd;
}

.historyIcon {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #c7c8cd;
}

.helpOutlineIcon {
  padding-right: 0.5rem;
  color: #c7c8cd;
}

.accountIcon {
  padding-right: 0.5rem;
  color: #c7c8cd;
}

