.cards {
  width: 49rem;
  height: 32rem;
  margin-left: 2.563rem;
  border: 1px solid #c7c8cd;
}

.horizontalLine {
  color: #4449574d;
  background-color: #4449574d;
  height: 0.09rem;
  border: none;
  width: 49rem;
  margin-left: -1.1rem;
  margin-top: 3rem;
}

.rectangleMainText {
  width: 26rem;
  margin-top: 1.4rem;
}

.rectangleTrial {
  margin-top: 0.8rem;
}

.rectangleDisease {
  margin-top: 0.8rem;
}

.CircleIcon {
  margin-left: -1.6rem;
}

.rectangleOwners {
  padding-left: 0.6rem;
}

.rectangleMembers {
  margin-top: 0.6rem;
}

.rectangleVerticalLine {
  color: #4449574d;
  background-color: #4449574d;
  height: 0.09rem;
  border: none;
  transform: rotate(-90deg);
  width: 27rem;
  margin-top: -5.8rem;
  margin-right: 5rem;
}

.rectangleBold {
  font: normal normal bold 16px/24px FS Me;
}

.rectanglePadding {
  padding-top: 2rem;
}

.test {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.secondTest {
  font: normal normal normal 22px/36px FS Me;
  color: #444957;
  text-transform: capitalize;
  opacity: 1;
}

.rectangleMainContainer {
  margin-left: -3rem;
  font: normal normal normal 16px/24px FS Me;
  color: #444957;
  opacity: 1;
}

.secondHorizontalLine {
  color: #4449574d;
  background-color: #4449574d;
  height: 0.09rem;
  border: none;
  width: 25.5rem;
  margin-top: 1.5rem;
  margin-left: -3rem;
}

.rectangleContainersOwners {
  margin-left: -3rem;
  font: normal normal normal 16px/24px FS Me;
  color: #444957;
  opacity: 1;
}

.containerOwners {
  display: flex;
  flex-direction: row;
}

.leftContainer {
  margin-left: 27rem;
  margin-top: -14.2rem;
  width: 17.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #444957;
  opacity: 1;
  font: normal normal normal 16px/24px FS Me;
}
